.sponsors-card-cont {
    position: relative;
    height: 240px;
    margin: 15px;
    width: 350px;
}

.tags {
    position: absolute;
    bottom: 5px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tags span {
    color: #EEE9E6;
    background-color: #1C232D;
}

.desc {
    margin-top: 20px;
    color: white;
    text-decoration: none;
}

.info {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #46474B;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 100%;
    color: #eee9e6;
    z-index:3;
}

a {
    text-decoration: none;
}

.sponsors-card {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    cursor: pointer;
    background-image: radial-gradient(rgba(177, 177, 177, 0.6),rgba(155, 154, 154, 0.3));
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s;
}

.sponsors-img {
    width: 65%;
}

.sponsor-name {
    margin-top: 20px;
    color: white;
    text-decoration: none;
    padding: 0px 10px;
    font-size:20px;
}

.sponsor-desc {
    margin-top: 10px;
    color: white;
    text-decoration: none;
    width: 95%;
    font-size: 13px;
}

.sponsors-card-cont:hover .sponsors-card {
    bottom: 15px;
    background-image: radial-gradient(50% 206.3% at 50% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.4) 100%);
    ;
}

@media screen and (max-width : 500px) {
    .sponsors-card {
        height: 200px;
        padding-bottom:10px;
    }
    .tags{
        font-size:13px;
    }
    .sponsor-desc{
        font-size: 11px;
    }
}
