.orgSupCont {
    padding: 20px 100px;
  }
  
  .orgContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-column-gap: 20px;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    grid-row-gap: 30px;
    row-gap: 30px;
    /* background-color: #1C232D; */
    margin: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    width: 100%;
    /* padding: 20px; */
    min-height: 300px;
    padding-bottom: 20px;
    /* grid-auto-flow: column; */
    overflow: hidden;
  }
  
  .divider {
    position: relative;
    height: 100px;
    background-color: #46474B;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .bePartofCont {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .bePartOf {
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 2px solid #eee9e6;
    color: #eee9e6;
    margin: auto;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    overflow: hidden;
  }
  
  .bePartOfTwo {
    top: -2px;
    left: -100%;
    height: 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    place-items: center;
    position: absolute;
    border: 2px solid #eee9e6;
    color: #1C232D;
    font-size: 0px;
    opacity: 0;
    background-color: #eee9e6;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .bePartOf:hover .bePartOfTwo {
    left: -2px;
    font-size: 16px;
    opacity: 1;
  }
  
  .bePartOf:hover {
    font-size: 0px;
  }
  
  /* Card */
  .orgTagLine {
    text-align: left;
    width: 80%;
    font-size: 13px;
    margin-top: 0px !important;
  }
  
  .orgeventtags {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .orgeventtags div {
    margin: 5px;
  }
  
  .orgName a {
    margin-left: 15px;
    cursor: pointer;
  }
  
  .orgName {
    text-align: left;
    font-size: 18px;
    width: 80%;
    font-size: 17px;
    margin-top: 15px !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .orgCont {
    border: 2px solid #eee9e6;
    color: #eee9e6;
    padding: 20px 0px;
    border-radius: 10px;
    position: relative;
    background-color: #46474B;
    overflow: hidden;
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 310px;
  }
  
  .orgNavigation {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .orgNavigation > div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 15px;
  }
  
  .btncont > div {
    margin: 10px 0px;
  }
  
  .contcont > div {
    margin: 10px;
    text-align: center;
  }
  
  .orgLogo {
    width: 150px;
    height: 150px;
  }
  
  .orgButton {
    width: 80%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.781);
    border-top: 1px solid rgba(255, 255, 255, 0.781);
    color: #1C232D;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px #1c232d88,
   0px 0px 15px #1c232d88,
   0px 0px 25px #1c232d88;
            box-shadow: 0px 0px 5px #1c232d88,
   0px 0px 15px #1c232d88,
   0px 0px 25px #1c232d88;
    z-index: 1;
    color: #eee9e6;
  }
  
  .orgButton:hover {
    background-color: #eee9e6;
    -webkit-box-shadow: 0px 2px 10px #EEE9E686,
   0px 2px 20px #EEE9E672,
   0px 2px 40px #EEE9E649;
            box-shadow: 0px 2px 10px #EEE9E686,
   0px 2px 20px #EEE9E672,
   0px 2px 40px #EEE9E649;
    color: #46474B;
  }
  
  .orgBall {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(65, 73, 162, 0)), to(#AD5FAA));
    background: linear-gradient(180deg, rgba(65, 73, 162, 0) 0%, #AD5FAA 100%);
  }
  
  .ball1 {
    left: -20px;
    bottom: -10px;
    z-index: 0;
  }
  
  @media screen and (max-width: 1400px) {
    .orgSupCont {
      padding: 20px 70px;
    }
  }
  
  @media screen and (max-width: 900px) {
    .orgSupCont {
      padding: 20px 20px;
    }
  }
  /*# sourceMappingURL=style.css.map */