.btn-dark:hover {
    background-color: #242e3d !important;
  }
  
  /* container */
  .orgHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70px;
    border-bottom: 2px solid #464748;
    padding: 0px 20px;
    margin-top: 85px;
  }
  
  .fullPageLogo {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
  
  .fpageOrgDetails {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .fpageOrgDetails div {
    margin-left: 10px;
    color: #EEE9E6;
  }
  
  .selectLevel {
    width: 150px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    background-color: #46474B;
    border: 2px solid #EEE9E6;
    color: white;
    position: relative;
  }
  
  .selectBox:focus {
    outline: none;
  }
  
  .dropDown {
    z-index: 100;
    position: absolute;
    left: 0px;
    top: 50px;
    background-color: #EEE9E6;
    color: #464748;
    width: 100%;
    height: 0px;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 5px;
    z-index: 500 !important;
  }
  
  .option {
    height: 40px;
    cursor: pointer;
    border-bottom: 1px solid #1C232D;
    line-height: 40px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .option:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .option:last-child {
    border-radius: 5px;
  }
  
  .option:hover {
    background-color: #d1c6c0;
  }
  
  .issuesCont {
    width: 80vw;
    /* height: fit-content; */
    height: calc(90vh - 70px);
    margin: auto;
    margin-top: 5vh;
    border-radius: 10px;
    overflow-y: scroll;
    /* border: 2px solid #46474B; */
    position: relative;
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .dropDir {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  #selected {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  
  .issueCont:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .issueCont:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0px;
  }
  
  .noIssue {
    height: calc(90vh - 70px);
    width: 100%;
    color: #EEE9E6;
    font-size: 30px;
    border-radius: 10px;
    border: 2px solid #46474B;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .rightOrgFullHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .addNew {
    margin-left: 20px;
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    background-color: #EEE9E6;
    border: 2px solid #EEE9E6;
    color: #46474B;
    line-height: 40px;
    cursor: pointer;
  }
  
  .issuesCont::-webkit-scrollbar {
    width: 0px;
  }
  
  @media screen and (max-width: 400px) {
    .selectLevel {
      width: 130px;
    }
    .issuesCont {
      width: 95%;
    }
  }
  /*# sourceMappingURL=style.css.map */